
*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#signupform{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 20px;
	width: 700px;
	margin-left: 350px;
	

}
.sign-up {
	background: url('../assets/sign.jpg')no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
#signuph1{
	margin-top: 5%;
}
#c{
	color: #f92702;
	margin-top: 5px;
	margin-right:px;
	font-size: 50px;
}
#a{
	color: #f92702;
	margin-top: 5px;
	margin-right:3px;
	font-size: 50px;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px;
	margin: 8px 0;
	width: 50%;
	box-shadow: 0.5px 0.5px black;
	border-radius: 0.3cm;
}

#btn {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	cursor: pointer;
}
#btn:hover{
	background-color: #f92702;
}



#btn:focus {
	outline: none;
}
