

#login-btn{
    margin-right: 0%;
}

#slider{
    width: 100%;
    height: 85%;
    transition: 2s ease-in-out;
}

#start{
    width: 20%;
    padding: 15px;
    background-color: orange;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xx-large;
    position: relative;
    margin-top:33%;
    left: 40%;
    border-radius: 0.4cm;
    cursor: pointer;
}

#img{
    position: absolute;
    opacity: 0.75;
}





.section{
    margin-left: 40%;
    display: flex;
    width: max-content;

}

li{
    list-style: none;
    padding: 5px;
}

.login{
    margin-left:30%;
    background: transparent;
}

#login{
    cursor: pointer;
    background-color: orange;
    color: black;
    padding: 10px;
    border-radius: 5px;

}

.body img{
    width: 100%;
    height: 89%;
}

.login:hover{
    transition: ease-in-out 0.3s;
}

.body{
    transition: 2s ease-in-out;
}
.head1{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font:  3rem sans-serif;
    text-shadow: 2px 2px 8px #50d8f7;
}
.hom1{
    /* background-color: rgb(182, 194, 202); */
}
.hom1 p{
    font-size: 25px;
    /* font-family: 'Lilita One', cursive; */
}
.img1{
    display: flex;
}
.head2{
    background-color: rgb(170, 225, 20);
    text-align: center;
    font-size: 40px;
    height: 60px;
}